body{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 62.5%;
    margin: -1em -1em -1em -1em;
    overflow-x: hidden;
}

.block{
    margin: -1em auto -4em auto;
    height: 100%;   
    padding: 1.5em 25% 2.5em 25%;
    font-size: 8em;
    text-align: center;
}

a{
    color:white;
}

p{
    display: inline;
}

.menu{
    background-color: rgba(0,0,0,0.5);
    font-size: 3em;
    position: fixed;
    text-align: center;
    width: 100%;
    margin: 0 -1em 0 -1em;
    padding: 0.5em 1em 0.5em 1em;
}

.menu img{
    padding: 0.1em 0.1em 0 0.1em;
}

.menu a{
    text-decoration: none;
}

#social-small{
    position: fixed;
    right: 0.2em;
}

#home{
    background-color: #D93434;
}

#now{
    background-color: #36429C;
}

#featured{
    background-color: #736B6B;
}

#featured-title{
    display: block;
    font-style: italic;
}

#contact{
    background-color: #D93434;
}

@media screen and (max-width: 900px) {
    body{font-size: 46.875%;}
}

@media screen and (max-width: 550px) {
    body{font-size: 31.25%;}
    .block{
        padding: 1.5em 10% 2.5em 10%;
    }
}
